body {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.container-padding50 {
  padding-top: 50px;
}

.container-textinput {
  width: 80%;
  height: 20px;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.container-button {
  height: 40px;
  padding: 10px 15px;

  display: inline-block;
  background-color: green;
  color: white;
  font-size: 16px;
  font-family: Helvetica, sans-serif;

  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
}

.container-image {
  width: 30%;
  display: block;
  float: left;
  margin-right: 3%;
}
